/* 用于设置滚动视差容器的样式 */
.parallax-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* 用于设置滚动视差背景图像的样式 */
.parallax-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
    z-index: -1;
}